Django==1.6.5
Pillow==2.5.0
South==0.8.4
argparse==1.2.1
django-crispy-forms==1.4.0
django-debug-toolbar==1.2
django-leaflet==0.13.2
django-session-security==2.1.6
django-suit==0.2.8
jsonfield==0.9.20
psycopg2==2.5.2
six==1.6.1
sqlparse==0.1.11
wsgiref==0.1.2
