{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Aplicacion{% endblock %}

{% load i18n %}

{% block sidebar_left %}
	<div class="panel panel-default">
		<h1 class="panel-title panel-heading">hola</h1>

		<div class="panel-body">
			<ul class="nav nav-pills nav-stacked">
				{% for item in wizard.steps.all %}
				<li class="active"><a href="#">{{item}}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>

{% endblock %}

{% block content %}
	<div class="page-header">
	  	<h1>Edificacion <small>Paso {{ wizard.steps.step1 }} de {{ wizard.steps.count }}</small></h1>
	</div>

	<form action="" method="post">{% csrf_token %}
		<table>
		{{ wizard.management_form }}
		{% if wizard.form.forms %}
		    {{ wizard.form.management_form }}
		    {% for form in wizard.form.forms %}
		         {% crispy form %}
		    {% endfor %}
		{% else %}
		    {{ wizard.form }}
		{% endif %}
		</table>	

		{% if wizard.steps.prev %}
		<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
		<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
		{% endif %}
		
		<input type="submit" value="{% trans "submit" %}"/>
	</form>

{% endblock content %}