{% extends 'main/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load leaflet_tags %}

{% block title %}Aplicacion{% endblock %}


{% block css %} 
	{{ wizard.form.media }}
    {% leaflet_css plugins="forms" %}
{% endblock %}

{% block js_head %} 
	{% leaflet_js plugins="forms" %}
{% endblock %}

{% block sidebar_left %}
	<div class="panel panel-default">
		<h1 class="panel-title panel-heading">hola</h1>

		<div class="panel-body">
			<ul class="nav nav-pills nav-stacked">
				{% for item in wizard.steps.all %}
				<li class="active"><a href="#">{{item}}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>

{% endblock %}

{% block content %}
	<div class="page-header">
	  	<h1>Edificacion <span class="badge pull-right"> {{ wizard.steps.step1 }} de {{ wizard.steps.count }}</span></h1>
	</div>

	<form action="" method="post" class="form-horizontal" role="form">{% csrf_token %}
		
		{{ wizard.management_form }}
		{% if wizard.form.forms %}
		    {{ wizard.form.management_form }}
		    {% for form in wizard.form.forms %}
		         {{ form|crispy }}
		    {% endfor %}
		{% else %}
		    {% crispy wizard.form %}
		{% endif %}
			

		{% if wizard.steps.prev %}
		<button name="wizard_goto_step" class="btn btn-default btn-lg" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
		<button name="wizard_goto_step" class="btn btn-default btn-lg" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
		{% endif %}
		
		<input type="submit" class="btn btn-success input-lg" value="{% trans "submit" %}"/>
	</form>

	<br><br><br><br>

{% endblock content %}