<!doctype html>
<html lang="es_ES">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="robots" content="noindex,nofollow,noarchive,noodp,nosnippet">
	<title> {% block title %} {% endblock %} | Alianza Templos</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- <link rel="icon" type="image/png" href="{{STATIC_URL}}main/fav128.png" sizes="128x128"> -->
	<link rel="stylesheet" href="{{STATIC_URL}}main/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{STATIC_URL}}main/font-awesome/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

	<style>	
		body { padding-top: 70px; }	
		.navbar-brand {padding: 0 15px !important;}	
	</style>

    {% block css %}{% endblock %}
    {% block js_head %}{% endblock %}

	<!--[if lt IE 9]>
      <script src="{{STATIC_URL}}main/js/html5shiv/html5shiv.js"></script>
      <script src="{{STATIC_URL}}main/js/respond/respond.src.js"></script>
 	<![endif]-->

</head>
<body>
	{% include 'main/nav/menu_principal.html' %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3">
				<div class="panel panel-default">
					<p>aqui va el menu de nivel de usuario</p>
				{% block sidebar_left %}{% endblock %}
				</div>
			</div>
			<div class="col-sm-9">
				{% block content %}{% endblock %}
			</div>
		</div>
	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{STATIC_URL}}main/js/jquery.js"><\/script>')</script>
	
	<script src="{{STATIC_URL}}main/bootstrap/js/bootstrap.min.js"></script>
	{% block js_body %} {% endblock %}
	{% include 'session_security/all.html' %}
</body>
</html>