<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>SimpleMail - Layout 3</title>
<style type="text/css">
<!--
.style1 {color: #8f8f8f}
-->
</style>
</head>
<body style="font-family:Arial, Helvetica, sans-serif; background:#f5f5f5; line-height:24px;">
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
  <tr>
    <td><img src="http://s21.postimg.org/nownqxq7b/LA_DPTO_Relaciones_Formulario_Header.jpg" width="600" height="150" /></td>
  </tr>
  <tr>
        <td>&nbsp;</td>
      </tr>
  <tr>
    <td height="50"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="600" style="font-size:20px; font-weight:bold; color:#8f8f8f; padding-left:20px; text-align:center">¡CORREO INFORMATIVO!</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td style="padding:20px; font-size:16px; color:#8f8f8f" align="center"><p align="justify">Queremos informante que el proyecto <strong>{{nombre_proyecto}}, {{text}}</strong>, porfavor accede a la plataforma, recuerda visitar de forma periodica la aplicacion para llevar un control sobre los proyectos que actualmente estan aplicando, Gracias.</p></td>
  </tr> 
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><table width="600" border="0" cellpadding="0" cellspacing="0" bgcolor="#b10e10">
      <tr>
        <td width="40">&nbsp;</td>
        <td width="240">&nbsp;</td>
        <td width="40">&nbsp;</td>
        <td width="240">&nbsp;</td>
        <td width="40">&nbsp;</td>
      </tr>
      <tr>
        <td width="40">&nbsp;</td>
        <td width="240" style="color: #ffffff; font-weight: bold; font-size: 18px;">Somos Sociales</td>
        <td width="40">&nbsp;</td>
        <td width="240" style="color: #ffffff; font-weight: bold; font-size: 18px;"><img src="http://s3.postimg.org/io88qj29r/alianza.png"></td>
        <td width="40">&nbsp;</td>
      </tr>
      <tr>
        <td width="40">&nbsp;</td>
        <td width="240">&nbsp;</td>
        <td width="40">&nbsp;</td>
        <td width="240">&nbsp;</td>
        <td width="40">&nbsp;</td>
      </tr>
      <tr>
        <td width="40">&nbsp;</td>
        <td width="240">
          <a href="https://www.facebook.com/LaAlianzaColombia" target="_blank"><img src="http://s17.postimg.org/bz9f4ihmz/facebook.png" width="32" height="32"/></a>
          <a href="https://twitter.com/LaAlianzaCo" target="_blank"><img src="http://s10.postimg.org/napzqmcud/twitter.png" width="32" height="32" style="padding-left:5px"/></a>
          <a href="http://instagram.com/laalianzaco" target="_blank"><img src="http://s16.postimg.org/fkusd96jl/instagram.png" width="32" height="32" style="padding-left:5px" /></a>
        </td>
        <td width="40">&nbsp;</td>
        <td width="240" style="color:#fff;">Calle 9 Norte #19 - 00<br /> Armenia, Quindio, CO</td>
        <td width="40">&nbsp;</td>
      </tr>
      <tr>
        <td width="40">&nbsp;</td>
        <td width="240">&nbsp;</td>
        <td width="40">&nbsp;</td>
           <td width="260"><a href="http://laalianzacristiana.co/" target="_blank" style="color:#fff">laalianzacristiana.co</a></td>
        <td width="40">&nbsp;</td>
      </tr>
      <tr>
        <td width="20">&nbsp;</td>
        <td width="260" style="color: #FFFFFF">Estas recibiendo este correo generado automaticamente por <strong>Alianza Templos</strong></td>
        <td width="40">&nbsp;</td>
        <td width="260"><a href="http://proyectos.laalianzacristiana.co/" target="_blank" style="color:#fff">proyectos.laalianzacristiana.co</a></td>     
        <td width="20">&nbsp;</td>
      </tr>
      <tr>
        <td width="40">&nbsp;</td>
        <td width="240">&nbsp;</td>
        <td width="40">&nbsp;</td>
        <td width="240">&nbsp;</td>
        <td width="40">&nbsp;</td>
      </tr>
      <tr>
        <td width="40">&nbsp;</td>
        <td width="240">&nbsp;</td>
        <td width="40">&nbsp;</td>
        <td width="240">&nbsp;</td>
        <td width="40">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>
</body>