{% extends 'main/base.html' %}

{% block title %} Home {% endblock %}


{% block sidebar_left %}
	
{% endblock sidebar_left %}

{% block content %}
	
	<div class="page-header clearfix">
		<h1>Bienvenido</h1>
		<a class="btn btn-primary" href="{% url 'aplicacion' %}" role="button">Aplicacion</a>
	</div>

	<div class="row">
		{% for proyecto in proyectos %}
		<div class="col-sm-4">

			<div class="panel panel-default">
			  <div class="panel-heading">{{proyecto.nombre_proyecto}}</div>
			  <div class="panel-body">
			  	{% include "main/widgets/progress-bar.html" with proyect=proyecto %}
			    <a href="{% url 'aplicacion_edit' pk=proyecto.pk %}" class="btn btn-primary  btn-block " role="button">Editar</a>
			  </div>
			</div>
			

		</div>

		{% empty %}
			<h1>No hay proyectos aún</h1>	
		{% endfor %}

	</div>

{% endblock content %}