{% extends 'main/base.html' %}

{% block title %} Home Local {% endblock %}


{% block sidebar_left %}
	
{% endblock sidebar_left %}

{% block content %}
	
	<div class="jumbotron clearfix">
		<h1>Bienvenido Usuario Local</h1>
		<p>Inicie creando una aplicacion para tu proyecto de construccion.</p>
		<a class="btn btn-primary" href="{% url 'aplicacion' %}" role="button">Aplicacion</a>
	</div>

	<div class="row">
		{% for proyecto in proyectos %}
		<div class="col-sm-4">

			<div class="panel panel-default">
			  <div class="panel-heading">{{proyecto.nombre_proyecto}}</div>
			  <div class="panel-body">
			    <a href="{% url 'proyecto' proyecto.pk %}" class="btn btn-primary  btn-block " role="button">Ver</a>
			  </div>
			</div>
			

		</div>

		{% empty %}
			<h1>No hay proyectos aun</h1>	
		{% endfor %}

	</div>

{% endblock content %}