{% extends 'main/base.html' %}
{% load main_tags %}
{% load admin_urls %}

{% block title %} Informes Semestrales {% endblock %}


{% block css %} 
<link rel="stylesheet" href="{{STATIC_URL}}main/DataTables/datatables.min.css"> 
{% endblock %}

{% block content %}
	
	<ol class="breadcrumb" style="margin-top:20px;">
        <li><a href="/">Inicio</a></li> 
        <li><a href="{% url 'informes_semestrales' %}">Informes Semestrales</a></li> 
        <li class="active">{{informe.nombre_proyecto}}</li>
    </ol>
	
	<div class="page-header">
		<h1>Informe {{informe.nombre_proyecto}} <small>{{informe.created}}</small></h1>
	</div>

	<div class="row">
        
            
        <div class="col-sm-8">

            <table  class="table table-striped table-hover table-condensed"  >
                <tbody>
                    <tr><th>Proyecto:</th> <td>{{informe.nombre_proyecto}}</td></tr>
                    <tr><th>Fecha:</th> <td>{{informe.created}}</td></tr>
                    <tr><th>Encargado:</th> <td>{{informe.persona}}</td></tr>
                    <tr><th>Email:</th> <td>{{informe.email}}</td></tr>
                    <tr><th>Teléfono:</th> <td>{{informe.telefono}}</td></tr>
                    <tr><th>Departamento:</th> <td>{{informe.depto}}</td></tr>
                    <tr><th>Municipio:</th> <td>{{informe.municipio}}</td></tr>
                    <tr><th>Direcciòn:</th> <td>{{informe.direccion}}</td></tr>
                    <tr><th>Región:</th> <td>{{informe.get_region_display}}</td></tr>
                    <tr> <th></th> <td></td> </tr>
                    <tr> <th></th> <td></td> </tr>

                    <tr><th>Miembros Actuales:</th> <td>{{informe.miembros_actuales}}</td></tr>
                    <tr><th>Miembros Nuevos:</th> <td>{{informe.nuevos_miembros}}</td></tr>
                    <tr><th>Conversiones:</th> <td>{{informe.conversiones}}</td></tr>
                    <tr><th>Bautismos:</th> <td>{{informe.bautismos_nuevos}}</td></tr>
                    <tr><th>Si no Bautismos:</th> <td>{{informe.no_bautismos}}</td></tr>
                    <tr><th>Asistengia General:</th> <td>{{informe.asistencia_general}}</td></tr>
                    <tr><th>Grupos de Vida:</th> <td>{{informe.grupos_vida}}</td></tr>
                    <tr><th>Asistencia promedio grupos:</th> <td>{{informe.asistencia_grupos}}</td></tr>
                    <tr><th>Ofrendas semestrales:</th> <td>{{informe.ofrendas}}</td></tr>
                    
                </tbody>
            </table>

            <p><b>Plantación:</b></p>
            <table class="table table-bordered table-hover table-condensed" >
                <thead>
                    <th>Nombre</th>
                    <th>Lugar</th>
                    <th>Fecha</th>
                </thead>
                <tbody>
                    <tr>
                        <td>{{informe.plantacion_nombre_1}}</td>
                        <td>{{informe.plantacion_lugar_1}}</td>  
                        <td>{{informe.plantacion_fecha_1}}</td>                    
                    </tr>
                    <tr>
                        <td>{{informe.plantacion_nombre_2}}</td>
                        <td>{{informe.plantacion_lugar_2}}</td>  
                        <td>{{informe.plantacion_fecha_2}}</td>                    
                    </tr>
                    <tr>
                        <td>{{informe.plantacion_nombre_3}}</td>
                        <td>{{informe.plantacion_lugar_3}}</td>  
                        <td>{{informe.plantacion_fecha_3}}</td>                    
                    </tr>
                </tbody>

            </table>

            <table  class="table table-striped table-hover table-condensed"  >
                <tbody>
                    <tr><th>Peticiones:</th> <td>{{informe.peticiones_oracion}}</td></tr>
                    <tr><th>Testimonios:</th> <td>{{informe.testimonios}}</td></tr>
                    <tr><th>Actividades con niños:</th> <td>{{informe.ministerio_ninos}}</td></tr>
                    <tr><th>Uso del local:</th> <td>{{informe.uso_local}}</td></tr>
                </tbody>
            </table>

		</div>

        <div class="col-sm-4">
            <!--<a class="btn btn-block btn-success " href="{% url 'informe_semestral_edit' informe.pk %}">
                <i class="fa fa-fw fa-pencil-square-o"></i> Editar
            </a>-->
            <a class="btn btn-block btn-success " href="{% url 'admin:db_informesemestralpublico_change' informe.pk %}">
                <i class="fa fa-fw fa-pencil-square-o"></i> Editar
            </a>
            
            <a class="btn btn-block btn-primary " href="{% url 'informe_semestral_csv' informe.pk %}">
                <i class="fa fa-fw fa-file-excel-o"></i> Descargar csv
            </a>
            <a href="{{ MEDIA_URL }}{{informe.fotos}}" download class="btn btn-primary btn-block">
               <i class="fa fa-fw fa-file-archive-o"></i> Descargar Fotos
            </a>
        </div>

	

	</div>

    <br>
    <br>
    <br>

{% endblock content %}

