{% extends 'main/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load main_tags %}

{% block title %} Informe Semestral {% endblock %}

{% block css %} 
<style>
    .informe-semestral-plantacion .form-group {
        width: 33%;
        float: left;
        margin-right: 0;
        margin-left: 0;
    }

    .informe-semestral-plantacion .form-group .controls {
        width: 100%;
        padding: 0;
    }
    .informe-semestral-plantacion .form-group .controls .input-group-addon {
        padding: 0;
    }

    .informe-semestral-plantacion .form-group .controls .input-group-addon .ninguno-btn{
        cursor: pointer;
        padding: 5px 10px;
        height: 100%;
        width: 100%;
    }


</style>
{% endblock %}

{% block ngApp %} ng-app="informePublicoApp"{% endblock %}
{% block controller %} ng-controller="InformePublicoCtrl"{% endblock %}

{% block content %}

    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>


    <div class="page-header">
	  	<h1>Informe Semestral</h1>
	</div>

    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
        <strong>HAY ERRORES EN EL INFORME!</strong> revisa los siguientes campos :
        <ul>
            {% for field in form %} 
                {% if field.errors %}
                    {% if field.label != '' %}
                        <li>{{field.label}}</li>
                    {% else %}
                        <li>Plantación</li>
                    {% endif %}
                
                {% endif %} 
            {% endfor %}
        </ul>
        {{form.non_field_errors}}
    </div>
    {% endif %}

    <form novalidate action="/informe-semestral/publico/783w5g95h0795g94h84u50" 
          enctype="multipart/form-data" class='form-horizontal' method="POST" >

        {% crispy form %}
        <div class="form-actions">
            <input type="submit" 
                class="btn btn btn-primary btn-block input-lg" value="Enviar Formulario"
                ng-mouseup="alClickEnviar($event)" ng-show="!enviandoForm"/>
            <div class="alert bg-primary text-center" role="alert" ng-show="enviandoForm">
                <i class="fa fa-refresh fa-spin fa-fw" aria-hidden="true"></i> Enviando...
            </div>
        </div>
    </form>



    <br>
    <br>
{% endblock %}

{% block js_body %} 
	<script src="{{STATIC_URL}}main/app/informeSemestral.js?v=6"></script>

    <script>
        // Set fields a 'ninguno'
        $('.ninguno-btn', '.informe-semestral-plantacion').click(function(){
            var $parent = $(this).parents('.informe-semestral-plantacion');
            $parent.find('input').val('NINGUNO');

        });
    </script>
{% endblock js_body %}