{% load crispy_forms_tags %}
<!doctype html>
<html lang="es_ES">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="robots" content="noindex,nofollow,noarchive,noodp,nosnippet">
	<title> Login | Alianza Templos</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- <link rel="icon" type="image/png" href="{{STATIC_URL}}main/fav128.png" sizes="128x128"> -->
	<link rel="stylesheet" href="{{STATIC_URL}}main/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{STATIC_URL}}main/font-awesome/css/font-awesome.min.css">


	<style>	
		.navbar-brand {padding: 0 15px !important;}	
	</style>

	<!--[if lt IE 9]>
      <script src="{{STATIC_URL}}main/js/html5shiv/html5shiv.js"></script>
      <script src="{{STATIC_URL}}main/js/respond/respond.src.js"></script>
 	<![endif]-->

</head>
<body>

	<!--[if lt IE 8]>
		<div class="container">
		    <div class="alert alert-danger">
			    <h1><i class="fa fa-frown-o"></i> Atención!</h1>
			    <p>Estas usando un navegador muy obsoleto. Por favor <a href="http://browsehappy.com/">actualice su navegador</a> para continuar.</p>
			    <p><a href="http://browsehappy.com/" class="btn btn-danger btn-lg" role="button">Actualizar</a></p>
			</div>
		</div>
    <![endif]-->
	{% include 'main/nav/menu_principal.html' %}
	
	<div class="container">
	
		<div class="row">

			<div class="col-sm-8">
				<div class="jumbotron">
					<h1>
						<!--<i class="fa fa-users"></i>-->
						Bienvenidos!
					</h1>
					<h3>Construyamos juntos la Alianza</h3>
					<p>Sitio de proyectos de construcción de la Alianza</p>
					<br>				
					<iframe width="560" height="315" src="https://www.youtube.com/embed/89f62J75DIo" frameborder="0" allowfullscreen></iframe>
					<br><br>
					<p>						
						Preguntas Tecnicas de la Aplicacion:<br>
						<ul>						
							<li><b>Email:</b>webmaster@laalianzacristiana.co <b>Cel:</b> 311 721 9400</li>							
						</ul>
						</p>
						<br>
					<p>
						Preguntas Relacionadas con ICM y el Proceso de Aplicacion:<br>
						<ul>
							<li><b>Email:</b>relaciones@laalianzacristiana.co <b>Cel:</b> 300 895 2603</li>							
						</ul>
					</p>
				</div>
			</div>

			<div class="col-sm-4">

				<div class="panel panel-default">
					<div class="panel-heading">Ingresar</div>

					<div class="panel-body">
						
						 {% crispy loginForm %} 
					</div>

				</div>

			</div>

		</div>



	</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{STATIC_URL}}main/js/jquery.js"><\/script>')</script>

	
	<script src="{{STATIC_URL}}main/bootstrap/js/bootstrap.min.js"></script>
	{% block js_body %} {% endblock %}
	{% include 'session_security/all.html' %}
</body>
</html>