{% extends 'main/base.html' %}
{% load main_tags %}

{% block title %} Mapa {% endblock %}

{% block css %} 
	<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #mapa {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      #wrap-map {
        height: 550px;
        margin: 0;
        padding: 0;
      }
    </style>

{% endblock %}


{% block content %}


	<div id="wrap-map">
		<div id="mapa"></div>

	</div>

{% endblock content %}

{% block js_body %} 
	<script>
      var map;

      var styles = [
        {
            "featureType": "administrative.province",
            "elementType": "geometry.fill",
            "stylers": [
            {
                "color": '#DC143C'
            },
            {
                "saturation": 90
            },
            {
                "lightness": 90
            },
            {
                "visibility": "on"
            }
            ]
        },
        {
            "featureType": "administrative.province",
            "elementType": "geometry.stroke",
            "stylers": [
            {
                "color": '#DC143C'
            },
            {
                "visibility": "on"
            },
            {
                "weight": 2
            }
            ]
        }
    ];


      function initMap() {

      	var colombia = {lat: 5.244568, lng: -74.213706};
        map = new google.maps.Map(document.getElementById('mapa'), {
          center: colombia,  
          zoom: 6,
          styles: styles
        });


        var datos = [
            {% for proyecto in proyectos %}

                {
                    position: new google.maps.LatLng(parseFloat( '{{proyecto.coordenadas.lat}}'.replace(",", ".") ), parseFloat( '{{proyecto.coordenadas.lon}}'.replace(",", ".") ) ),
                    icon: {% if proyecto.etapa_actual <= 10 %}'red-dot.png'{% elif proyecto.etapa_actual >= 14 %}'green-dot.png'{% else %}'yellow-dot.png'{% endif %},
                    nombre: String("{{proyecto.nombre_proyecto}}")
                } {% if not forloop.last  %},{% endif %}
                
            {% endfor %}
        ];

        var ventana = new google.maps.InfoWindow();
        


        datos.forEach(function(dato) {
            console.log('Hola');
            var marker = new google.maps.Marker({
                position: dato.position,
                icon: 'http://maps.google.com/mapfiles/ms/icons/'+dato.icon,
                map: map
            });

            marker.addListener('click', function(){
                var contenString = '<h5>'+dato.nombre+'</h5>';
                ventana.setContent(contenString);
                ventana.open(map, marker);
            });
        });
      }

  


    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBEQAeIx4HfvcHj5NXrchd57WWa5HxAhuY&callback=initMap"
    async defer></script>
{% endblock js_body %}