{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Proyecto {% endblock %}
{% block css %} 
<link rel="stylesheet" href="{{STATIC_URL}}main/leaflet/leaflet.css"> 
{% endblock %}

{% block ngApp %} ng-app="alianzaTemplosApp"{% endblock %}
{% block controller %} ng-controller="ProyectoCtrl"{% endblock %}



{% block content %}

<ol class="breadcrumb" style="margin-top:20px;">
  <li><a href="/">Inicio</a></li> 
  <li class="active">{{proyecto.nombre_proyecto}}</li>
</ol>

<div class="page-header">
	<h1>{{proyecto.nombre_proyecto}} 
		<small>
			<a class="btn btn-success" href="{% url "proyecto_edit" pk=proyecto.pk %}">
				{% if user.tipo == user.LOCAL %}
					Editar
				{% elif user.tipo == user.REGIONAL or user.tipo == user.NACIONAL %}
					Revisar
				{% else %}
					Ver en detalle
				{% endif%}
			</a>
			<a href="" class="btn btn-info" ng-click="scrollTo('comentarios')" role="button">Comentar</a>
  	
  		</small> 
  		<span class="label label-primary pull-right">{{proyecto.pk}}</span></h1>
</div>

<div class="row">

	<div class="col-sm-8">

		{% include "main/widgets/progress-bar.html" with proyect=proyecto %}

		<tabset>
			<tab heading="Edificacion">
							
					
				<div class="panel panel-default" style="margin-top:10px;">
					<leaflet defaults="defaults" markers="markers" center="proyectCenter"  height="200px"></leaflet>
				</div>
				
				
				<div class="row">
					<div class="col-sm-12">
						<table class="table table-bordered table-striped">
							<tbody>	
								<tr> <th>Dirección: </th>       <td>{{ proyecto.direccion}}</td> </tr>													
								<tr> <th>Coordenadas: </th> 	<td>{{ proyecto.coordenadas }}</td> </tr>
								<tr> <th>Dueño del Lote: </th> 	<td>{{ proyecto.get_owner_lote_display }}</td> </tr>
								<tr> <th>Adquisición: </th> 	<td>{{ proyecto.get_tipo_adquisicion_display }}</td> </tr>
								<tr> <th>Terreno: </th> 	    <td>{{ proyecto.dimensiones_terreno }}</td> </tr>
								<tr> <th>Edificio: </th> 	    <td>{{ proyecto.dimensiones_edificio }}</td> </tr>
								<tr> <th>No. pisos: </th> 	    <td>{{ proyecto.num_pisos }}</td> </tr>
								<tr> <th>Tipo: </th> 	        <td>{{ proyecto.get_tipo_construccion_display }}</td> </tr>
								<tr> <th>Metodo: </th> 	        <td>{{ proyecto.get_metodo_construccion_display }}</td> </tr>
								<tr> <th>Requiere permiso: </th>  <td>{{ proyecto.requiere_permiso|yesno:"Si,No,No sabemos" }}</td> </tr>
								<tr> <th>Tiempo límite: </th>     <td>{{ proyecto.tiempo_limite }} meses</td> </tr>			
							</tbody>
							
						</table>
					</div>
				</div>

			</tab>
			
			<tab heading="Finanzas">Static content</tab>
			<tab heading="Comunidad">Static content</tab>
			<tab heading="Congregación">Static content</tab>
			<tab heading="Adjuntos">Static content</tab>
			<tab heading="Condiciones">Static content</tab>
			
		</tabset>

		<br>

		<div id="comentarios" class="page-header">
			<h2>Comentarios ({{comentarios|length}})</h2>
		</div>

		<div class="clearfix">
			{% crispy comentarioForm %}
		</div>

		{% for coment in comentarios %}
		<ul class="media-list">
			{% if not coment.comentario_padre %}
				<li class="media clearfix">
					<i class="fa fa-comment-o fa-3x pull-left"></i>
					<div class="media-body">
						<h5 class="text-primary media-heading">{{coment.commenter}}  <small>hace {{coment.created|timesince}}</small> </h5>
						<p style="margin-bottom:0;" >{{coment.descripcion}}</p>
						<a href="" ng-click="showForm({{coment.id}}, $event)"><small>responder</small></a>

						{% for coment1 in comentarios %}
							{% if coment1.comentario_padre.id == coment.id %}
							 
							  <div class="media clearfix">
							  	<i class="fa fa-comments-o fa-2x pull-left"></i>
							  	<div class="media-body">
							  		<h5 class="text-primary media-heading">{{coment1.commenter}}  <small>hace {{coment1.created|timesince}}</small> </h5>
							  	
							  		<p style="margin-bottom:0;" >{{coment1.descripcion}}</p>		


							  	</div>
							  </div>

							{% endif %}
						{% endfor %}


					</div>

				</li>
			{% endif %}
		</ul>
		{% endfor %}


	</br>
	</br>
	</br>



	</div>  <!-- col-sm-8   -->

	<div class="col-sm-4">

		<div class="page-header" style="margin-top:0;">
		  <h4>Autorizaciones</h4>
		</div>
		
		<!-- REGIONAL -->

		<div {% if user.tipo == user.REGIONAL %} ng-mouseenter="showAutorizacionForm($event)" ng-mouseleave="showAutorizacionForm($event)"{% endif %}
			 class="panel {% if proyecto.aprobacion_regional %} panel-green {% else %} panel-red {% endif %}">
		    <div class="panel-heading">
		        <div class="row">
		            <div class="col-md-6">
		                <i class="fa {% if proyecto.aprobacion_regional %} fa-check {% else %} fa-lock {% endif %}  fa-lg fa-fw"></i>
		                REGIONAL
		            </div>
		            <div class="col-md-6 text-right">
		                <i class="fa fa-user fa-fw"></i>  
		                {{proyecto.usuario.user_padre|default_if_none:"no asignado"}}
		            </div>
		        </div>
		    </div>
			{% if user.tipo == user.REGIONAL %}
		    <div class="panel-body" style="text-align:center;" ng-show="verFormAutorizacion">
		    	<form action="/proyecto/{{proyecto.id}}/autorizaciones/" method="post">{% csrf_token %}
					{{ aprobacionRegionalForm.aprobacion_regional }}&nbsp;&nbsp;&nbsp;
					{% if proyecto.aprobacion_regional %} 
						<button class="btn btn-danger btn-xs"><i class="fa fa-square-o"></i> desautorizar</button>
					{% else %} 
						<button class="btn btn-success btn-xs"><i class="fa fa-check"></i> autorizar</button> 
					{% endif %}
					 
				</form>
		    </div>
		    {% endif %}
		</div>

		<!-- ARQUITECTO -->
		
		<div {% if user.tipo == user.ARQUITECTO or user.tipo == user.NACIONAL %} ng-mouseenter="showAutorizacionForm($event, '{{user.tipo}}')" ng-mouseleave="showAutorizacionForm($event)"{% endif %}
			class="panel {% if proyecto.aprobacion_arquitecto %} panel-green {% else %} panel-red {% endif %}" id="panel-arquitecto">
		    <div class="panel-heading">
		        <div class="row">
		            <div class="col-md-6">
		                <i class="fa {% if proyecto.aprobacion_arquitecto %} fa-check {% else %} fa-lock {% endif %}  fa-lg fa-fw"></i>
		                ARQUITECTO
		            </div>
		            <div class="col-md-6 text-right">
		                <i class="fa fa-user fa-fw"></i>  
		                {{proyecto.arquitecto|default_if_none:"<mark>no asignado</mark>"}}
		            </div>
		        </div>
		    </div>
			{% if user.tipo == user.ARQUITECTO %} <!-- Le mostramos formluario de autenticacion -->
		    <div class="panel-body" style="text-align:center;" ng-show="verFormAutorizacion">
		    	<form action="/proyecto/{{proyecto.id}}/autorizaciones/" method="post" enctype="multipart/form-data">{% csrf_token %}
		    		{{ planosArquitectoForm.as_p }}
					{{ aprobacionArquitectoForm.aprobacion_arquitecto }}&nbsp;&nbsp;&nbsp;
					{% if proyecto.aprobacion_arquitectof %} 
						<button class="btn btn-danger btn-xs"><i class="fa fa-square-o"></i> desautorizar</button>
					{% else %} 
						<button class="btn btn-success btn-xs"><i class="fa fa-check"></i> autorizar</button> 
					{% endif %}
					 
				</form>
		    </div>
		    {% endif %}
		    {% if user.tipo == user.NACIONAL %} <!-- Le mostramos formulario de asignacion -->
		    <div class="panel-body" ng-show="verFormAsignacionArquitecto">
		    	<p>Asignar usuario</p>
		    	{% crispy asignarUsuariosForm %}
		    </div>
		    {% endif %}
		</div>
		

		<!-- INGENIERO -->
		
		<div {% if user.tipo == user.INGENIERO or user.tipo == user.NACIONAL %} ng-mouseenter="showAutorizacionForm($event, '{{user.tipo}}')" ng-mouseleave="showAutorizacionForm($event)"{% endif %}
			class="panel {% if proyecto.aprobacion_ingeniero %} panel-green {% else %} panel-red {% endif %}" id="panel-ingeniero">
		    <div class="panel-heading">
		        <div class="row">
		            <div class="col-md-6">
		                <i class="fa {% if proyecto.aprobacion_ingeniero %} fa-check {% else %} fa-lock {% endif %}  fa-lg fa-fw"></i>
		                INGENIERO
		            </div>
		            <div class="col-md-6 text-right">
		                <i class="fa fa-user fa-fw"></i>  
		                {{proyecto.ingeniero|default_if_none:"<mark>no asignado</mark>"}}
		            </div>
		        </div>
		    </div>
			{% if user.tipo == user.INGENIERO %} <!-- Le mostramos formluario de autenticacion -->
		    <div class="panel-body" style="text-align:center;" ng-show="verFormAutorizacion">
		    	<form action="/proyecto/{{proyecto.id}}/autorizaciones/" method="post">{% csrf_token %}
					{{ aprobacionIngenieroForm.aprobacion_ingeniero }}&nbsp;&nbsp;&nbsp;
					{% if proyecto.aprobacion_ingeniero %} 
						<button class="btn btn-danger btn-xs"><i class="fa fa-square-o"></i> desautorizar</button>
					{% else %} 
						<button class="btn btn-success btn-xs"><i class="fa fa-check"></i> autorizar</button> 
					{% endif %}
					 
				</form>
		    </div>
		    {% endif %}
		    {% if user.tipo == user.NACIONAL %} <!-- Le mostramos formulario de asignacion -->
		    <div class="panel-body" ng-show="verFormAsignacionIngeniero">
		    	<p>Asignar usuario</p>
		    	{% crispy asignarUsuariosForm %}
		    </div>
		    {% endif %}
		</div>


		<!-- TESORERO -->
		
		<div {% if user.tipo == user.TESORERO or user.tipo == user.NACIONAL %} ng-mouseenter="showAutorizacionForm($event, '{{user.tipo}}')" ng-mouseleave="showAutorizacionForm($event)"{% endif %}
			class="panel {% if proyecto.aprobacion_tesorero %} panel-green {% else %} panel-red {% endif %}" id="panel-tesorero">
		    <div class="panel-heading">
		        <div class="row">
		            <div class="col-md-6">
		                <i class="fa {% if proyecto.aprobacion_tesorero %} fa-check {% else %} fa-lock {% endif %}  fa-lg fa-fw"></i>
		                TESORERO
		            </div>
		            <div class="col-md-6 text-right">
		                <i class="fa fa-user fa-fw"></i>  
		                {{proyecto.tesorero|default_if_none:"<mark>no asignado</mark>"}}
		            </div>
		        </div>
		    </div>
			{% if user.tipo == user.TESORERO %} <!-- Le mostramos formluario de autenticacion -->
		    <div class="panel-body" style="text-align:center;" ng-show="verFormAutorizacion">
		    	<form action="/proyecto/{{proyecto.id}}/autorizaciones/" method="post">{% csrf_token %}
					{{ aprobacionTesoreroForm.aprobacion_tesorero }}&nbsp;&nbsp;&nbsp;
					{% if proyecto.aprobacion_tesorero %} 
						<button class="btn btn-danger btn-xs"><i class="fa fa-square-o"></i> desautorizar</button>
					{% else %} 
						<button class="btn btn-success btn-xs"><i class="fa fa-check"></i> autorizar</button> 
					{% endif %}
					 
				</form>
		    </div>
		    {% endif %}
		    {% if user.tipo == user.NACIONAL %} <!-- Le mostramos formulario de asignacion -->
		    <div class="panel-body" ng-show="verFormAsignacionTesorero">
		    	<p>Asignar usuario</p>
		    	{% crispy asignarUsuariosForm %}
		    </div>
		    {% endif %}
		</div>
		
		<!-- NACIONAL -->
      
		<div {% if user.tipo == user.NACIONAL %} ng-mouseenter="showAutorizacionForm($event)" ng-mouseleave="showAutorizacionForm($event)"{% endif %}
			 class="panel {% if proyecto.aprobacion_nacional %} panel-green {% else %} panel-red {% endif %}">
		    <div class="panel-heading">
		        <div class="row">
		            <div class="col-md-6">
		                <i class="fa {% if proyecto.aprobacion_nacional %} fa-check {% else %} fa-lock {% endif %}  fa-lg fa-fw"></i>
		                NACIONAL
		            </div>
		            <div class="col-md-6 text-right">
		                <i class="fa fa-user fa-fw"></i>  
		                {{proyecto.usuario.user_padre.user_padre}}
		            </div>
		        </div>
		    </div>
			{% if user.tipo == user.NACIONAL %}
		    <div class="panel-body" style="text-align:center;" ng-show="verFormAutorizacion">
		    	<form action="/proyecto/{{proyecto.id}}/autorizaciones/" method="post">{% csrf_token %}
					{{ aprobacionNacionalForm.aprobacion_nacional }}&nbsp;&nbsp;&nbsp;
					{% if proyecto.aprobacion_nacional %} 
						<button class="btn btn-danger btn-xs"><i class="fa fa-square-o"></i> desautorizar</button>
					{% else %} 
						<button class="btn btn-success btn-xs"><i class="fa fa-check"></i> autorizar</button> 
					{% endif %}
					 
				</form>
		    </div>
		    {% endif %}
		</div>


	</div> <!-- col-sm-4   -->


</div>	

{% endblock content %}


{% block js_body %} 
	<script src="{{STATIC_URL}}main/leaflet/leaflet.js"></script>
	<script src="{{STATIC_URL}}main/js/angular-leaflet-directive.min.js"></script>
	
	<script>
		window.latitud  = parseFloat( '{{proyecto.coordenadas.lat}}'.replace(",", ".") );
		window.longitud = parseFloat( '{{proyecto.coordenadas.lon}}'.replace(",", ".") );
	</script>
	
	<script src="{{STATIC_URL}}main/app/proyectoApp.js?v=10"></script>
{% endblock js_body %}