{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load main_tags %}
{% load thumbnail %}

{% block title %} Proyecto {% endblock %}
{% block css %} 
<link rel="stylesheet" href="{{STATIC_URL}}main/leaflet/leaflet.css"> 
{% endblock %}

{% block ngApp %} ng-app="alianzaTemplosApp"{% endblock %}
{% block controller %} ng-controller="ProyectoCtrl"{% endblock %}



{% block content %}

<ol class="breadcrumb" style="margin-top:20px;">
  <li><a href="/">Inicio</a></li> 
  <li class="active">{{proyecto.nombre_proyecto}}</li>
</ol>

<div class="row">

	<div class="col-md-8">

		<div class="page-header" style="margin-top:0;">
			
			<div class="row">

				<div class="col-sm-2 text-center">
					<i class="fa fa-fw fa-{{proyecto.etapa_actual|etapa_to_icon}} fa-3x"
					   data-toggle="tooltip" data-placement="top" title="etapa: {{proyecto.get_etapa_actual_display}}"></i></br></br>
					{% if user.tipo == user.LOCAL %}<a class="btn btn-xs btn-block btn-default" href="{% url "proyecto_edit" pk=proyecto.pk %}">						
							Editar	
					</a>

					{% endif%}
					<a href="" class="btn btn-xs btn-block btn-default" ng-click="scrollTo('comentarios')" role="button">Comentar</a>
				</div>

				<div class="col-sm-10">

					<h2 style="margin-top:0;">{{proyecto.nombre_proyecto}} 
				  		<small><span class="label label-primary pull-right">{{proyecto.pk}}</span></small>
				  	</h2>

				  	<h5>{{comunidad.nombre|default:"Falta información"}} {{comunidad.region}}</h5>
				  	
				  	
				  	{% for key, etp in list_etapas %}
				  		{% if key == proyecto.etapa_actual %}
				  		<span data-toggle="tooltip" data-placement="top" title="etapa: {{etp}}">
				  			<i class="fa fa-{{key|etapa_to_icon}} text-info"></i>
				  		</span> &nbsp;
				  		{% else %}
				  		<span data-toggle="tooltip" data-placement="top" title="etapa: {{etp}}" style="color:#d1d1d1;">
				  			<i class="fa fa-{{key|etapa_to_icon}}"></i>
				  		</span> &nbsp;
				  		{% endif %}				  		
				  	{% endfor %}
				    </br>
				  	<span class="label label-info">{{proyecto.get_etapa_actual_display}}</span></br>

			  	</div>

		  	</div>
		  	
		</div>



	

		{% include "main/widgets/progress-bar.html" with proyect=proyecto %}

		</br></br>

		<tabset>
			<tab heading="Edificacion">
							
					
				<div class="panel panel-default" style="margin-top:10px;">
					<leaflet defaults="defaults" markers="markers" center="proyectCenter"  height="200px"></leaflet>
				</div>
				
				{% thumbnail proyecto.adjuntos_set.get.foto_congregacion "100x100" crop="center" as im %}
					<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
				{% endthumbnail %}
				
				<div class="row">
					<div class="col-sm-12">
						<table class="table table-bordered table-striped">
							<tbody>	
								<tr> <th>Dirección: </th>       <td>{{ proyecto.direccion}}</td> </tr>													
								<tr> <th>Coordenadas: </th> 	<td>{{ proyecto.coordenadas }}</td> </tr>
								<tr> <th>Dueño del Lote: </th> 	<td>{{ proyecto.get_owner_lote_display }}</td> </tr>
								<tr> <th>Adquisición: </th> 	<td>{{ proyecto.get_tipo_adquisicion_display }}</td> </tr>
								<tr> <th>Terreno: </th> 	    <td>{{ proyecto.dimensiones_terreno }}</td> </tr>
								<tr> <th>Edificio: </th> 	    <td>{{ proyecto.dimensiones_edificio }}</td> </tr>
								<tr> <th>No. pisos: </th> 	    <td>{{ proyecto.num_pisos }}</td> </tr>
								<tr> <th>Tipo: </th> 	        <td>{{ proyecto.get_tipo_construccion_display }}</td> </tr>
								<tr> <th>Metodo: </th> 	        <td>{{ proyecto.get_metodo_construccion_display }}</td> </tr>
								<tr> <th>Requiere permiso: </th>  <td>{{ proyecto.requiere_permiso|yesno:"Si,No,No sabemos" }}</td> </tr>
								<tr> <th>Tiempo límite: </th>     <td>{{ proyecto.tiempo_limite }} meses</td> </tr>			
							</tbody>
							
						</table>
					</div>
				</div>

			</tab>
			
			<tab heading="Finanzas">
			
				<div class="row">
					<div class="col-sm-12">
						<table class="table table-bordered table-striped">
							<tbody>	
								<tr> <th>Dinero Efectivo: </th>       <td>{{ financiera.dinero_efectivo}}</td> </tr>		
								<tr> <th>Valor del Terreno: </th>       <td>{{ financiera.valor_terreno}}</td> </tr>		
								<tr> <th>Numero de Voluntarios: </th>       <td>{{ financiera.num_voluntarios}}</td> </tr>	
								<tr> <th>Descripcion: </th>       <td>{{ financiera.desc_voluntarios}}</td> </tr>		
								<tr> <th>Costo Total: </th>       <td>{{ financiera.costo_total}}</td> </tr>	
							</tbody>
							
						</table>
					</div>
				</div>

			</tab>			
			<tab heading="Comunidad">

				<div class="row">
					<div class="col-sm-12">
						<table class="table table-bordered table-striped">
							<tbody>	
								<tr> <th>Ciudad: </th>
								     <td>{{ comunidad.nombre}}</td> 
								 </tr>		
								<tr> <th>Poblacion: </th>       
									 <td>{{ comunidad.poblacion_comunidad}}</td> 
								</tr>		
								<tr> <th>Departamento: </th>       
									<td>{{ comunidad.region}}</td>
								</tr>	
								<tr> <th>Capital Departamento: </th>       
									<td>{{ comunidad.capital_depto}}</td> 
								</tr>		
								<tr> <th>Distancia a la Capital: </th>       
									<td>{{ comunidad.distancia_capital}}</td> 
								</tr>	
							</tbody>
							
						</table>
					</div>
				</div>

			</tab>
			<tab heading="Congregación">

				<div class="row">
					<div class="col-sm-12">
						<table class="table table-bordered table-striped">
							<tbody>	
								<tr> <th>Nombre: </th>
								     <td>{{ congregacion.nombre}}</td> 
								 </tr>		
								<tr> <th>Fecha Fundacion: </th>       
									 <td>{{ congregacion.fecha_fundacion}}</td> 
								</tr>		
								<tr> <th>Lengua Materna: </th>       
									<td>{{ congregacion.lengua_primaria}}</td>
								</tr>	
								<tr> <th>Region: </th>       
									<td>{% for key,value in list_regions %}
						     				{% if congregacion.region == key %}
						    					{{value}}
						    				{% endif %}	
						    			{% endfor %}
					    			</td> 
								</tr>		
								<tr> <th>Asistencia General: </th>       
									<td>{{ congregacion.asistencia_general}}</td> 
								</tr>
								<tr> <th>Asistencia Niños: </th>       
									<td>{{ congregacion.asistencia_ninos}}</td> 
								</tr>

								<tr> <th>Miembros Adultos: </th>       
									<td>{{ congregacion.miembros_adultos}}</td> 
								</tr>
								<tr> <th>Miembros Niños: </th>       
									<td>{{ congregacion.miembros_ninos}}</td> 
								</tr>	

								
								<tr> <th>Ingresos Mensuales: </th>       
									<td>{{ congregacion.ingreso_mensual}}</td> 
								</tr>

								
								<tr> <th>Nombre Pastor: </th>       
									<td>{{ congregacion.nombre_pastor}}</td> 
								</tr>
								
								<tr> <th>Estado Civil: </th>       
									<td>{% for key,value in list_civil %}
						     				{% if congregacion.estado_civil == key %}
						    					{{value}}
						    				{% endif %}	
						    			{% endfor %}</td> 
								</tr>
								
								<tr> <th>Cantidad de Hijos: </th>       
									<td>{{ congregacion.cant_hijos}}</td> 
								</tr>
								
								<tr> <th>Entrenamiento Biblico: </th>       
									<td>{{ congregacion.entrenamiento_biblico}}</td> 
								</tr>
								
								<tr> <th>Titulos Obtenidos: </th>       
									<td>{{ congregacion.titulos_obtenidos}}</td> 
								</tr>
								
								<tr> <th>Años al servicio de la Iglesia: </th>       
									<td>{{ congregacion.anios_iglesia}}</td> 
								</tr>

								<tr> <th>Años al servicio en el Ministerio: </th>       
									<td>{{ congregacion.anios_ministerio}}</td> 
								</tr>
								
							</tbody>
							
						</table>
					</div>
				</div>

			</tab>
			<tab heading="Adjuntos">

				<div class="row">
					<div class="col-sm-12">
						<table class="table table-bordered table-striped">
							<tbody>	
								{% if adjuntos.foto_construccion %}
								<tr> <th>Foto Construccion: </th>
								     <td>							     	
								     	<a href="/media/{{ adjuntos.foto_construccion}}" download>Descargar</a>
								     	</td> 
								 </tr>	
								{% endif %}	
								{% if adjuntos.foto_congregacion %}
								<tr> <th>Foto Congregacion: </th>
								     <td><a href="/media/{{ adjuntos.foto_congregacion}}" download>Descargar</a></td> 
								 </tr>	
								{% endif %}	
								{% if adjuntos.foto_pastor %}
								<tr> <th>Foto Pastor: </th>
								     <td><a href="/media/{{ adjuntos.foto_pastor}}" download>Descargar</a></td> 
								 </tr>	
								{% endif %}	
								{% if adjuntos.permiso_construccion %}
								<tr> <th>Foto Permiso Construccion: </th>
								     <td><a href="/media/{{ adjuntos.permiso_construccion}}" download>Descargar</a></td>
								 </tr>	
								{% endif %}	
								{% if adjuntos.escritura_terreno %}
								<tr> <th>Foto Terreno: </th>
								     <td><a href="/media/{{ adjuntos.escritura_terreno}}" download>Descargar</a></td> 
								 </tr>	
								{% endif %}	
								{% if adjuntos.manzana_catastral %}
								<tr> <th>Manzana Catastral: </th>
								     <td><a href="/media/{{ adjuntos.manzana_catastral}}" download>Descargar</a></td> 
								 </tr>	
								{% endif %}	
								{% if adjuntos.plan_construccion %}
								<tr> <th>Plan de Construccion: </th>
								     <td><a href="/media/{{ adjuntos.plan_construccion}}" download>Descargar</a></td> 
								 </tr>	
								{% endif %}	
								{% if adjuntos.historia_congregacion %}
								<tr> <th>Historia Congregacion: </th>
								     <td><a href="/media/{{ adjuntos.historia_congregacion}}" download>Descargar</a></td>
								 </tr>	
								{% endif %}	
								{% if adjuntos.testimonio_pastor %}
								<tr> <th>Testimonio Pastor: </th>
								     <td><a href="/media/{{ adjuntos.testimonio_pastor}}" download>Descargar</a></td> 
								 </tr>	
								{% endif %}	
								{% if adjuntos.planos_arquitecto %}	
								<tr> <th>Planos Arquitecto: </th>
								     <td><a href="/media/{{ adjuntos.planos_arquitecto}}" download>Descargar</a></td> 
								 </tr>
								 {% endif %}	
								
							</tbody>
							
						</table>
					</div>
				</div>

			</tab>
			<tab heading="Condiciones">

				<div class="row">
					<div class="col-sm-12">
						<table class="table table-bordered table-striped">
							<tbody>									
								<tr> <th>Condiciones de Construccion</th>       <td>
									{% for key,value in list_status %}
						     				{% if condiciones.construccion == key %}
						    					{{value}}
						    				{% endif %}	
						    			{% endfor %}</td> </tr>	
								
								<tr> <th>Mantenimiento del Templo/Obra Social: </th>       <td>{% for key,value in list_status %}
						     				{% if condiciones.mantenimiento == key %}
						    					{{value}}
						    				{% endif %}	
						    			{% endfor %}</td> </tr>	
								
								<tr> <th>Actividades Estipuladas: </th>       <td>{% for key,value in list_status %}
						     				{% if condiciones.actividades == key %}
						    					{{value}}
						    				{% endif %}	
						    			{% endfor %}</td> </tr>	
								
								<tr> <th>Discipulado: </th>       <td>{% for key,value in list_status %}
						     				{% if condiciones.discipulado == key %}
						    					{{value}}
						    				{% endif %}	
						    			{% endfor %}</td> </tr>	
								
								<tr> <th>Cumplimiento con el Alcance: </th>       <td>{% for key,value in list_status %}
						     				{% if condiciones.alcance == key %}
						    					{{value}}
						    				{% endif %}	
						    			{% endfor %}</td> </tr>	
								
								<tr> <th>¿Aldia con el 13%?: </th>       <td>{% for key,value in list_status %}
						     				{% if condiciones.found_commitment == key %}
						    					{{value}}
						    				{% endif %}	
						    			{% endfor %}</td> </tr>	
								
								<tr> <th>Cumplimiento con el Presupuesto: </th>       <td>{% for key,value in list_status %}
						     				{% if condiciones.presupuesto == key %}
						    					{{value}}
						    				{% endif %}	
						    			{% endfor %}</td> </tr>	
								
								<tr> <th>Completar la Obra: </th>       <td>{% for key,value in list_status %}
						     				{% if condiciones.terminacion == key %}
						    					{{value}}
						    				{% endif %}	
						    			{% endfor %}</td> </tr>	
								
								<tr> <th>Comentarios: </th>       <td>
						     				{{ condiciones.comentarios }} </td> </tr>	
								
								<tr> <th>¿Acepta los Terminos?: </th>       <td>{% for key,value in list_status %}
						     				{% if condiciones.aceptacion == key %}
						    					{{value}}
						    				{% endif %}	
						    			{% endfor %}</td> </tr>	
								
								<tr> <th>Nombre del Aplicante: </th>       <td>{{condiciones.nombre_completo}}</td> </tr>		
								
							</tbody>
							
						</table>
					</div>
				</div>

			</tab>
			
		</tabset>

		<br>

		<div id="comentarios" class="page-header">
			<h2>Comentarios ({{comentarios|length}})</h2>
		</div>

		<div class="clearfix">
			{% crispy comentarioForm %}
		</div>

		{% for coment in comentarios %}
		<ul class="media-list">
			{% if not coment.comentario_padre %}
				<li class="media clearfix">
					<i class="fa fa-comment-o fa-3x pull-left"></i>
					<div class="media-body">
						<h5 class="text-primary media-heading">{{coment.commenter}}  <small>hace {{coment.created|timesince}}</small> </h5>
						<p style="margin-bottom:0;" >{{coment.descripcion}}</p>
						<a href="" ng-click="showForm({{coment.id}}, $event)"><small>responder</small></a>

						{% for coment1 in comentarios %}
							{% if coment1.comentario_padre.id == coment.id %}
							 
							  <div class="media clearfix">
							  	<i class="fa fa-comments-o fa-2x pull-left"></i>
							  	<div class="media-body">
							  		<h5 class="text-primary media-heading">{{coment1.commenter}}  <small>hace {{coment1.created|timesince}}</small> </h5>
							  	
							  		<p style="margin-bottom:0;" >{{coment1.descripcion}}</p>		


							  	</div>
							  </div>

							{% endif %}
						{% endfor %}


					</div>

				</li>
			{% endif %}
		</ul>
		{% endfor %}


	</br>
	</br>
	</br>



	</div>  <!-- col-sm-8   -->

	<div class="col-md-4">

		<div class="page-header" style="margin-top:0;">
		  <h4>Autorizaciones</h4>
		</div>
		

		<!-- NACIONAL -->

		<div {% if user.tipo == user.NACIONAL %} ng-mouseenter="showAutorizacionForm($event)" ng-mouseleave="showAutorizacionForm($event)"{% endif %}
			 class="panel {% if proyecto.aprobacion_nacional %} panel-green {% else %} panel-red {% endif %}">
		    <div class="panel-heading">
		        <div class="row">
		            <div class="col-md-6">
		                <i class="fa {% if proyecto.aprobacion_nacional %} fa-check {% else %} fa-lock {% endif %}  fa-lg fa-fw"></i>
		                NACIONAL
		            </div>
		            <div class="col-md-6 text-right">
		                <i class="fa fa-user fa-fw"></i>  
		                {{proyecto.usuario.user_padre.user_padre}}
		            </div>
		        </div>
		    </div>
			{% if user.tipo == user.NACIONAL %}
		    <div class="panel-body" style="text-align:center;" ng-show="verFormAutorizacion">
		    	<form action="/proyecto/{{proyecto.id}}/autorizaciones/" method="post">{% csrf_token %}
		    		<input type='hidden' name='fromN' value='1'/>
					{{ aprobacionNacionalForm.aprobacion_nacional }}&nbsp;&nbsp;&nbsp;
					{% if proyecto.aprobacion_nacional %} 
						<button class="btn btn-danger btn-xs"><i class="fa fa-square-o"></i> desautorizar</button>
					{% else %} 
						<button class="btn btn-success btn-xs"><i class="fa fa-check"></i> autorizar</button> 
					{% endif %}
					 
				</form>
		    </div>
		    {% endif %}
		</div>
		
		<!-- REGIONAL -->

		<div {% if user.tipo == user.REGIONAL %} ng-mouseenter="showAutorizacionForm($event)" ng-mouseleave="showAutorizacionForm($event)"{% endif %}
			 class="panel {% if proyecto.aprobacion_regional %} panel-green {% else %} panel-red {% endif %}">
		    <div class="panel-heading">
		        <div class="row">
		            <div class="col-md-6">
		                <i class="fa {% if proyecto.aprobacion_regional %} fa-check {% else %} fa-lock {% endif %}  fa-lg fa-fw"></i>
		                REGIONAL
		            </div>
		            <div class="col-md-6 text-right">
		                <i class="fa fa-user fa-fw"></i>  
		                {{proyecto.usuario.user_padre|default_if_none:"no asignado"}}
		            </div>
		        </div>
		    </div>
			{% if user.tipo == user.REGIONAL %}
		    <div class="panel-body" style="text-align:center;" ng-show="verFormAutorizacion">
		    	<form action="/proyecto/{{proyecto.id}}/autorizaciones/" method="post">{% csrf_token %}
					{{ aprobacionRegionalForm.aprobacion_regional }}&nbsp;&nbsp;&nbsp;
					{% if proyecto.aprobacion_regional %} 
						<button class="btn btn-danger btn-xs"><i class="fa fa-square-o"></i> desautorizar</button>
					{% else %} 
						<button class="btn btn-success btn-xs"><i class="fa fa-check"></i> autorizar</button> 
					{% endif %}
					 
				</form>
		    </div>
		    {% endif %}
		</div>
 		
 		{% if proyecto.usuarios_asignados %}
			<!-- ARQUITECTO No a sido cambiado por el nacional -->
			{% if proyecto.requiere_arquitecto %} 
			<div {% if user.tipo == user.ARQUITECTO or user.tipo == user.NACIONAL %} ng-mouseenter="showAutorizacionForm($event, '{{user.tipo}}')" ng-mouseleave="showAutorizacionForm($event)"{% endif %}
				class="panel {% if proyecto.aprobacion_arquitecto %} panel-green {% else %} panel-red {% endif %}" id="panel-arquitecto">
			    <div class="panel-heading">
			        <div class="row">
			            <div class="col-md-6">
			                <i class="fa {% if proyecto.aprobacion_arquitecto %} fa-check {% else %} fa-lock {% endif %}  fa-lg fa-fw"></i>
			                ARQUITECTO
			            </div>
			            <div class="col-md-6 text-right">
			                <i class="fa fa-user fa-fw"></i>  
			                {{proyecto.arquitecto|default_if_none:"<mark>no asignado</mark>"}}
			            </div>		           
			        </div>
			    </div>
				{% if user.tipo == user.ARQUITECTO %} <!-- Le mostramos formluario de autenticacion -->
			    <div class="panel-body" style="text-align:center;" ng-show="verFormAutorizacion">

			    	<div class="well well-sm">
			    		<h4>Subir Plano</h4>
				    	<form action="/proyecto/{{proyecto.id}}/autorizaciones/" method="post" enctype="multipart/form-data">{% csrf_token %}
							{{ planosArquitectoForm.planos_arquitecto }} </br>
							<button class="btn btn-primary btn-xs">guardar</button>
						</form>
					</div>

			    	<form action="/proyecto/{{proyecto.id}}/autorizaciones/" method="post">{% csrf_token %}
						{{ aprobacionArquitectoForm.aprobacion_arquitecto }}&nbsp;&nbsp;&nbsp;
						{% if proyecto.aprobacion_arquitectof %} 
							<button class="btn btn-danger btn-xs"><i class="fa fa-square-o"></i> desautorizar</button>
						{% else %} 
							<button class="btn btn-success btn-xs"><i class="fa fa-check"></i> autorizar</button> 
						{% endif %}
						 
					</form>
			    </div>
			    {% endif %}
			    {% if user.tipo == user.NACIONAL %} <!-- Le mostramos formulario de asignacion -->
			    <div class="panel-body" ng-show="verFormAsignacionArquitecto">
			    	<p>Asignar usuario</p>
			    	{% crispy asignarUsuariosForm %}
			    </div>
			    <div class="panel-body" style="text-align:center;" ng-show="verFormAsignacionArquitecto">
			    	¿Requiere Arquitecto?
			    	<form action="/proyecto/{{proyecto.id}}/autorizaciones/" method="post" id='formArquitec'>{% csrf_token %}
						{{ aprobacionArquitectoForm.aprobacion_arquitecto }}&nbsp;&nbsp;&nbsp;
						{% if proyecto.aprobacion_arquitecto %} 
							<button id='confirm' type='button' onclick='return click_event()' class="btn btn-danger btn-xs"><i class="fa fa-square-o"></i> Si</button>
						{% else %} 
							<button id='confirm' type='button' onclick='return click_event()' class="btn btn-success btn-xs"><i class="fa fa-check"></i> No</button> 
						{% endif %}
						 
					</form>
					<div id='dialog-confirm' style='display:none'>Si acepta esto no tendra vuelta atras, esta seguro?</div>
			    </div>		
			    {% endif %}
			</div>
			{% endif %}

			<!-- INGENIERO -->
			
			<div {% if user.tipo == user.INGENIERO or user.tipo == user.NACIONAL %} ng-mouseenter="showAutorizacionForm($event, '{{user.tipo}}')" ng-mouseleave="showAutorizacionForm($event)"{% endif %}
				class="panel {% if proyecto.aprobacion_ingeniero %} panel-green {% else %} panel-red {% endif %}" id="panel-ingeniero">
			    <div class="panel-heading">
			        <div class="row">
			            <div class="col-md-6">
			                <i class="fa {% if proyecto.aprobacion_ingeniero %} fa-check {% else %} fa-lock {% endif %}  fa-lg fa-fw"></i>
			               DIRECTOR DE OBRA
			            </div>
			            <div class="col-md-6 text-right">
			                <i class="fa fa-user fa-fw"></i>  
			                {{proyecto.ingeniero|default_if_none:"<mark>no asignado</mark>"}}
			            </div>
			        </div>
			    </div>
				{% if user.tipo == user.INGENIERO %} <!-- Le mostramos formluario de autenticacion -->
			    <div class="panel-body" style="text-align:center;" ng-show="verFormAutorizacion">
			    	<form action="/proyecto/{{proyecto.id}}/autorizaciones/" method="post">{% csrf_token %}
						{{ aprobacionIngenieroForm.aprobacion_ingeniero }}&nbsp;&nbsp;&nbsp;
						{% if proyecto.aprobacion_ingeniero %} 
							<button class="btn btn-danger btn-xs"><i class="fa fa-square-o"></i> desautorizar</button>
						{% else %} 
							<button class="btn btn-success btn-xs"><i class="fa fa-check"></i> autorizar</button> 
						{% endif %}
						 
					</form>
			    </div>
			    {% endif %}
			    {% if user.tipo == user.NACIONAL %} <!-- Le mostramos formulario de asignacion -->
			    <div class="panel-body" ng-show="verFormAsignacionIngeniero">
			    	<p>Asignar usuario</p>
			    	{% crispy asignarUsuariosForm %}
			    </div>
			    {% endif %}
			</div>


			<!-- TESORERO -->
			
			<div {% if user.tipo == user.TESORERO or user.tipo == user.NACIONAL %} ng-mouseenter="showAutorizacionForm($event, '{{user.tipo}}')" ng-mouseleave="showAutorizacionForm($event)"{% endif %}
				class="panel {% if proyecto.aprobacion_tesorero %} panel-green {% else %} panel-red {% endif %}" id="panel-tesorero">
			    <div class="panel-heading">
			        <div class="row">
			            <div class="col-md-6">
			                <i class="fa {% if proyecto.aprobacion_tesorero %} fa-check {% else %} fa-lock {% endif %}  fa-lg fa-fw"></i>
			                TESORERO
			            </div>
			            <div class="col-md-6 text-right">
			                <i class="fa fa-user fa-fw"></i>  
			                {{proyecto.tesorero|default_if_none:"<mark>no asignado</mark>"}}
			            </div>
			        </div>
			    </div>
				{% if user.tipo == user.TESORERO %} <!-- Le mostramos formluario de autenticacion -->
			    <div class="panel-body" style="text-align:center;" ng-show="verFormAutorizacion">
			    	<form action="/proyecto/{{proyecto.id}}/autorizaciones/" method="post">{% csrf_token %}
						{{ aprobacionTesoreroForm.aprobacion_tesorero }}&nbsp;&nbsp;&nbsp;
						{% if proyecto.aprobacion_tesorero %} 
							<button class="btn btn-danger btn-xs"><i class="fa fa-square-o"></i> desautorizar</button>
						{% else %} 
							<button class="btn btn-success btn-xs"><i class="fa fa-check"></i> autorizar</button> 
						{% endif %}
						 
					</form>
			    </div>
			    {% endif %}
			    {% if user.tipo == user.NACIONAL %} <!-- Le mostramos formulario de asignacion -->
			    <div class="panel-body" ng-show="verFormAsignacionTesorero">
			    	<p>Asignar usuario</p>
			    	{% crispy asignarUsuariosForm %}
			    </div>
			    {% endif %}
			</div>

		{% endif %}
		
		
      
		





	</div> <!-- col-sm-4   -->


</div>	

{% endblock content %}


{% block js_body %} 
	<script src="{{STATIC_URL}}main/leaflet/leaflet.js"></script>
	<script src="{{STATIC_URL}}main/js/angular-leaflet-directive.min.js"></script>
	
	<script>
		window.latitud  = parseFloat( '{{proyecto.coordenadas.lat}}'.replace(",", ".") );
		window.longitud = parseFloat( '{{proyecto.coordenadas.lon}}'.replace(",", ".") );
	</script>
	
	<script src="{{STATIC_URL}}main/app/proyectoApp.js?v=10"></script>
{% endblock js_body %}